/* App */

* {
  box-sizing: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #23252c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 95%;
  max-width: 28rem;
  color: white;
  background-color: #1a1b21;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* Image */

.main--photo {
  width: 100%;
  max-width: 28rem;
  max-height: 22rem;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.header > h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

.header > h2 {
  font-size: 1.3rem;
  font-weight: 200;
  margin: 0.3rem 0;
  color: #ed6a5e;
}

.header > span {
  font-size: 1rem;
  line-height: 1.6rem;
}

.header > span > a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #39a9db;
}

.header > span > a:visited {
  text-decoration: none;
  color: #39a9db;
}

.header--button--1 {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
  width: 100%;
}

.header--button--1 > a {
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 0.8rem 0;
  border-radius: 0.4rem;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.header--button--1 > a:nth-child(1) {
  color: white;
  background: #39a9db;
}

.header--button--1 > a > p {
  margin: 0 0 0 5px;
}

.header--button--1 > a:hover,
a:focus {
  background: #39a9dbdd;
}

.header--button--2 {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
  width: 100%;
}

.header--button--2 > a {
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 0.8rem 0;
  border-radius: 0.4rem;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.header--button--2 > a:nth-child(1) {
  color: white;
  background: #49d49d;
}

.header--button--2 > a > p {
  margin: 0 0 0 5px;
}

.header--button--2 > a:hover,
a:focus {
  background: #49d49ddd;
}

/* Info */

.info {
  width: 80%;
  margin-bottom: 1.3rem;
}

.info--section > h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

.info--section > p {
  font-size: 1.1rem;
  font-weight: 200;
  margin-top: 0.3rem;
}

.info--project {
  text-decoration: none;
}

.info--project > h4 {
  font-weight: 400;
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.info--project--1 {
  background-color: #4ce0b3;
  color: black;
}

.info--project--1:hover {
  background-color: #4ce0b3dd;
}

.info--project--2 {
  background-color: #ed6a5e;
  color: white;
}

.info--project--2:hover {
  background-color: #ed6a5edd;
}

.info--project--3 {
  background-color: #f8e16c;
  color: black;
}

.info--project--3:hover {
  background-color: #f8e16cdd;
}

.info--project--4 {
  background-color: #cfbcdf;
  color: black;
}

.info--project--4:hover {
  background-color: #cfbcdfdd;
}

.info--project--5 {
  background-color: #593c8f;
  color: white;
}

.info--project--5:hover {
  background-color: #593c8fdd;
}

/* Footer */

.footer--social {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
  background-color: #161619;
  border-radius: 0 0 20px 20px;
}

.footer--social > a,
a:visited {
  text-decoration: none;
  color: inherit;
  font-size: 30px;
  filter: brightness(60%);
}

.footer--social > a:hover,
a:focus {
  filter: brightness(100%);
  background-color: inherit;
}
