/* App  */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins;
  /* max-width: 100%;
  overflow-x: hidden; */
}

.container {
  margin: 0 auto;
  margin-bottom: 5rem;
}

/* Navbar */

.navbar--container {
  width: 100%;
  height: 6rem;
  display: flex;
  box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
}

.logo {
  width: 7.5rem;
  margin: auto 0;
  margin-left: 2.5rem;
}

/* Main */

.container--main {
  max-width: 80rem;
  margin: 0 auto;
}

/* Hero */

.hero--container {
  width: 80%;
  margin: 2.5rem auto;
}

.hero--container > img {
  width: 100%;
}

.hero--container > h1 {
  font-size: 3rem;
}

.hero--container > p {
  font-size: 1.25rem;
  max-width: 25rem;
}

/* Card Group */

.card--group {
  display: flex;
  /* margin-left: 10%; */
  flex-wrap: nowrap;
  overflow-x: auto;
}

/* Card */

.card--container {
  width: 15rem;
  margin: 2.5rem 0 2.5rem 10%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card--container:not(:first-child) {
  margin-left: 1rem;
}

.card--image {
  color: inherit;
  width: 100%;
  max-height: 20rem;
}

.card--container:last-child {
  margin-right: 10%;
}

.card--image > span {
  margin: 0.5rem 0 0 0.5rem;
  background: white;
  padding: 0 0.5rem;
  border-radius: 0.3rem;
  position: absolute;
}

.card--image > img {
  width: 15rem;
  top: 0;
  left: 0;
}

.card--info {
  display: flex;
  flex-direction: column;
}

.card--info > * {
  margin-top: 0.5rem;
}

.card--info--ratings {
  display: flex;
  align-items: center;
}

.card--info--ratings > * {
  margin-right: 0.3rem;
}

.card--info--ratings > svg {
  color: red;
}

.card--info--ratings > span:nth-child(2) {
  color: black;
}

.card--info--ratings > span:nth-child(3) {
  color: gray;
}
