/* App */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  min-height: 100vh;
  position: relative;
}

/* Header */

.header--container {
  width: 100%;
  background-color: #f55a5a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
}

.header--icon {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.header--title {
  font-weight: 500;
  font-size: 1.5rem;
}

/* Location */

.location--container {
  padding: 2.5rem;
  max-width: 50rem;
  margin: 0 auto;
}

.location--container:last-of-type {
  padding-bottom: 10rem;
}

.horizontal--break {
  border-top: 1px solid #f5f5f5;
  margin: 0 auto;
  max-width: 50rem;
  align-items: center;
}

.horizontal--break:last-of-type {
  display: none;
}

.location--content {
  display: flex;
}

.location--image {
  object-fit: cover;
  width: 15rem;
  height: 20rem;
  border-radius: 0.5rem;
}

.location--info > h1 {
  font-size: 2.5rem;
  margin: 0;
}

.location--info > h2 {
  font-size: 1.2rem;
}

/* Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.5rem;
  background-color: #f55a5a;
  color: white;
}

.footer--content {
  display: flex;
  justify-content: space-between;
  max-width: 50rem;
  margin: 0 auto;
}

.footer--name {
  margin: auto 0;
}

.footer--name > span > a,
a:visited {
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem;
  border: 0.15rem solid white;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  letter-spacing: 0.15rem;
  font-weight: 700;
}

.footer--name > span > a:hover {
  color: #f55a5a;
  background-color: white;
}

.footer--social > a,
a:visited {
  font-size: 1.5rem;
  margin: 0 0.75rem;
  text-decoration: none;
  color: white;
  border: 0.15rem solid transparent;
  display: inline-block;
  padding: 0.3rem 0.3rem 0 0.3rem;
}

.footer--social > a:hover {
  border: 0.15rem solid white;
  background-color: white;
  color: #f55a5a;
  border-radius: 0.5rem;
}

@media (max-width: 599px) {
  .footer--content {
    flex-direction: column;
    align-items: center;
  }

  .footer--name {
    margin: 1rem 0 2rem 0;
  }
}
