/* App */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header */

.header--container {
  width: 100%;
  background-color: #f55a5a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
}

.header--icon {
  font-size: 2rem;
  margin-right: .5rem;
}

.header--title {
  font-weight: 500;
  font-size: 1.5rem;
}